
html, body { height: 100%; }

body { margin: 0; background-color: darken($color: #000000, $amount: 0); }

.container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  color: white;
}
